@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "Animation.css";
@import "menu.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --orange-light: #FFF8E9;
  --orange-dark: #F1975F;
  --blue-light: #8AB7DD;
  --blue-dark: #005BD4;
}

html{
  background-color: var(--orange-light);
  font-family: Poppins, sans-serif;
  overflow-x: hidden ;
}


/* Custom color classes */
.bg-orange-light{
  background-color: var(--orange-light);
}
.bg-orange-dark{
  background-color: var(--orange-dark);
}
.bg-blue-light{
  background-color: var(--blue-light);
}
.bg-blue-dark{
  background-color: var(--blue-dark);
}
.bg-dark{
  background-color: rgba(0 0 0 / 40%);

}


.text-orange-light{
  color: var(--orange-light);
}
.text-orange-dark{
  color: var(--orange-dark);
}
.text-blue-light{
  color: var(--blue-light);
}
.text-blue-dark{
  color: var(--blue-dark);
}

.border-orange-light{
  border-color: var(--orange-light);
}
.border-orange-dark{
  border-color: var(--orange-dark);
}
.border-blue-light{
  border-color: var(--blue-light);
}
.border-blue-dark{
  border-color: var(--blue-dark);
}

.fill-orange-light{
  fill: var(--orange-light);
}
.fill-orange-dark{
  fill: var(--orange-dark);
}
.fill-blue-light{
  fill: var(--blue-light);
}
.fill-blue-dark{
  fill: var(--blue-dark);
}

/* Custom other classes */
.text-stroke{
  color: transparent;
  -webkit-text-stroke: 2px black;
}
.partner-img{
  height: 3vw;
}
.transform-translate{
  transform: translate(50%, -50%);
}
.translate-y--100{
  transform: translateY(-100%);
}
/* wave */
.custom-shape-divider-bottom-1714036479 {
  margin-top: -130px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1714036479 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 123px;
}

/* wave2 */
.custom-shape-divider-top-1714053856 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1714053856 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 121px;
  transform: rotateY(180deg);
}
/* functional classes */
a.primary-btn{
  transition: background-color 0.2s;
  &:hover{
    background-color: var(--orange-dark);
  }
}

/* Responsive smartphone */
@media not all and (min-width: 640px) {
  .custom-shape-divider-bottom-1714036479{
    margin-top: -70px;
  }
  .partner-img{
    height: 10vw;
  }
}

